html {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  background-color: #FEFAE0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 40px;
}

header {
  background-color: #066466;
  margin: 0;
  height: 150px;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
  padding-top: 30px;
  color: #FEFAE0;
}

nav {
  height: 50px;
}

nav a {
  text-decoration: none;
  width: 100px;
}

nav button {
  padding: 0px;
  height: 50px;
  width: 150px;
  margin: 10px 20px 10px 20px;
  font-variant: small-caps;
  font-weight: bolder;
}

main {
  width: 80vw;
  margin: auto;
}

#expressions-section, #functions-section {
  /* background-color: pink; */
  width: 90%;
  margin: auto;
  height:auto;
  padding-bottom: 100px;
}

#expressions-section h2, #functions-section h2 {
  text-align: center;
}

#expressions-section ol, #functions-section ol {
  margin: auto;
  max-width: 70%;
  /* background-color: white; */
}

#expressions-section li {
  /* max-width: 50%; */
  min-width: 500px;
  margin: auto;
  margin-left: 30px;
  padding-left: 30px;
  position: relative;
  border: 1px solid black;
  background-color: white;
  margin: 10px;
  height: 30px;
}

#functions-section li {
  border: 2px solid black;
  margin: 40px;
}

.buttons {
  margin-left: 20px;
  position: absolute;
  right:20px;
  /* padding: 0px; */
  margin: 0px;
  display: inline-block;
}

.buttons button {
  margin-left: 20px;
}


.expressions {
  padding: 10px;
}

.functions {
  padding: 10px;
  background-color: white;
}


footer {
  height: 70px;
  background-color: #066466;
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

footer p {
  margin: 10px;
  color: #FEFAE0;
}